/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.gitattributes
# .gitignore
app/
artisan
bootstrap/app.php
bootstrap/cache/.gitignore
composer.json
composer.lock
config/
database/
package.json
phpunit.xml
public/
resources/
routes/
server.php
storage/
tests/
webpack.mix.js
yarn.lock
