ul {
  list-style: none;
}

footer .container-fluid {
	margin-top: 3rem;
	background-color: #f8f9fa;
}

footer p {
	margin: 1rem 0;
}

nav {
	margin-bottom: 1rem;
}

form button {
	margin-top: .5rem;
}

#enterPrice {
	width: 10%;
}

.create-password {
	width: 20%;
}

@media (min-width: 800px) {
	.table {
		width: 75%;
	}
}